--
-- PostgreSQL database dump
--

\restrict v0L1jrbwRj7iaSLlgbaoBVJE2IujcDolXwa96e3cOcbQGAQDc0Lw3X8yRpbI3ho

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: BannerType; Type: TYPE; Schema: public; Owner: orouba_user
--

CREATE TYPE public."BannerType" AS ENUM (
    'image',
    'video'
);


ALTER TYPE public."BannerType" OWNER TO orouba_user;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: orouba_user
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO orouba_user;

--
-- Name: RequestStatus; Type: TYPE; Schema: public; Owner: orouba_user
--

CREATE TYPE public."RequestStatus" AS ENUM (
    'UNREAD',
    'READ',
    'ARCHIVED'
);


ALTER TYPE public."RequestStatus" OWNER TO orouba_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: orouba_user
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN',
    'EDITOR'
);


ALTER TYPE public."Role" OWNER TO orouba_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Banner; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Banner" (
    id text NOT NULL,
    "titleEn" text NOT NULL,
    "titleAr" text NOT NULL,
    type public."BannerType" DEFAULT 'image'::public."BannerType" NOT NULL,
    image text,
    "imageEn" text,
    "videoLink" text,
    "videoLinkEn" text,
    "smallImg" text,
    "smallImgEn" text,
    "smallVideo" text,
    "smallVideoEn" text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Banner" OWNER TO orouba_user;

--
-- Name: Brand; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Brand" (
    id text NOT NULL,
    "nameEn" text NOT NULL,
    "nameAr" text NOT NULL,
    number integer DEFAULT 999 NOT NULL,
    image text,
    "imageMain" text,
    "imageSmall" text,
    "imageSmallMain" text,
    "colorBrand" text,
    "colorHover" text,
    "descriptionEn" text,
    "descriptionAr" text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Brand" OWNER TO orouba_user;

--
-- Name: Building; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Building" (
    id text NOT NULL,
    "titleEn" text,
    "titleAr" text,
    "descriptionEn" text,
    "descriptionAr" text,
    image text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Building" OWNER TO orouba_user;

--
-- Name: CareerRequest; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."CareerRequest" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    "position" text,
    "resumeUrl" text,
    status public."RequestStatus" DEFAULT 'UNREAD'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    message text
);


ALTER TABLE public."CareerRequest" OWNER TO orouba_user;

--
-- Name: CartItem; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."CartItem" (
    id text NOT NULL,
    "sessionId" text NOT NULL,
    "userId" text,
    "productId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CartItem" OWNER TO orouba_user;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    "nameEn" text NOT NULL,
    "nameAr" text NOT NULL,
    "descriptionEn" text,
    "descriptionAr" text,
    image text,
    "imageEn" text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "brandId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO orouba_user;

--
-- Name: CategoryProduct; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."CategoryProduct" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    "productId" text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CategoryProduct" OWNER TO orouba_user;

--
-- Name: CategoryType; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."CategoryType" (
    id text NOT NULL,
    "titleEn" text NOT NULL,
    "titleAr" text NOT NULL,
    "descriptionEn" text,
    "descriptionAr" text,
    image text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CategoryType" OWNER TO orouba_user;

--
-- Name: CategoryTypeCategory; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."CategoryTypeCategory" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    "categoryTypeId" text NOT NULL,
    image text,
    number integer DEFAULT 999 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CategoryTypeCategory" OWNER TO orouba_user;

--
-- Name: Certificate; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Certificate" (
    id text NOT NULL,
    image text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Certificate" OWNER TO orouba_user;

--
-- Name: CollaborateRequest; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."CollaborateRequest" (
    id text NOT NULL,
    "firstName" text,
    "lastName" text,
    name text,
    email text NOT NULL,
    phone text,
    status public."RequestStatus" DEFAULT 'UNREAD'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    message text
);


ALTER TABLE public."CollaborateRequest" OWNER TO orouba_user;

--
-- Name: ContactRequest; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."ContactRequest" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    message text,
    status public."RequestStatus" DEFAULT 'UNREAD'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ContactRequest" OWNER TO orouba_user;

--
-- Name: Continent; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Continent" (
    id text NOT NULL,
    "nameEn" text,
    "nameAr" text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Continent" OWNER TO orouba_user;

--
-- Name: Country; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Country" (
    id text NOT NULL,
    "nameEn" text,
    "nameAr" text,
    "continentId" text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Country" OWNER TO orouba_user;

--
-- Name: Feature; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Feature" (
    id text NOT NULL,
    "titleEn" text,
    "titleAr" text,
    "descriptionEn" text,
    "descriptionAr" text,
    image text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Feature" OWNER TO orouba_user;

--
-- Name: Food; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Food" (
    id text NOT NULL,
    "nameEn" text,
    "nameAr" text,
    image text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Food" OWNER TO orouba_user;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "totalAmount" double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Order" OWNER TO orouba_user;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    price double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO orouba_user;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "nameEn" text NOT NULL,
    "nameAr" text NOT NULL,
    "descriptionEn" text,
    "descriptionAr" text,
    color text DEFAULT '#ffffff'::text NOT NULL,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "typeId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO orouba_user;

--
-- Name: ProductImage; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."ProductImage" (
    id text NOT NULL,
    "productId" text NOT NULL,
    url text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductImage" OWNER TO orouba_user;

--
-- Name: ProductSocial; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."ProductSocial" (
    id text NOT NULL,
    image text,
    "productId" text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductSocial" OWNER TO orouba_user;

--
-- Name: ProductType; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."ProductType" (
    id text NOT NULL,
    "nameEn" text NOT NULL,
    "nameAr" text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductType" OWNER TO orouba_user;

--
-- Name: ProductionStep; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."ProductionStep" (
    id text NOT NULL,
    "textEn" text NOT NULL,
    "textAr" text NOT NULL,
    number integer DEFAULT 999 NOT NULL,
    image text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductionStep" OWNER TO orouba_user;

--
-- Name: Recipe; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Recipe" (
    id text NOT NULL,
    "nameEn" text,
    "nameAr" text,
    "descriptionEn" text,
    "descriptionAr" text,
    "videoLink" text,
    "internalImage" text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Recipe" OWNER TO orouba_user;

--
-- Name: RecipeCategory; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecipeCategory" (
    id text NOT NULL,
    "nameEn" text NOT NULL,
    "nameAr" text NOT NULL,
    image text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecipeCategory" OWNER TO orouba_user;

--
-- Name: RecipeCategoryFood; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecipeCategoryFood" (
    id text NOT NULL,
    "recipeCategoryId" text NOT NULL,
    "foodId" text NOT NULL
);


ALTER TABLE public."RecipeCategoryFood" OWNER TO orouba_user;

--
-- Name: RecipeFood; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecipeFood" (
    id text NOT NULL,
    "recipeId" text NOT NULL,
    "foodId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecipeFood" OWNER TO orouba_user;

--
-- Name: RecipeImage; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecipeImage" (
    id text NOT NULL,
    "recipeId" text NOT NULL,
    url text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecipeImage" OWNER TO orouba_user;

--
-- Name: RecipeProperty; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecipeProperty" (
    id text NOT NULL,
    "recipeId" text NOT NULL,
    icon text,
    "titleEn" text NOT NULL,
    "titleAr" text NOT NULL,
    "textEn" text NOT NULL,
    "textAr" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecipeProperty" OWNER TO orouba_user;

--
-- Name: RecipeStep; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecipeStep" (
    id text NOT NULL,
    "recipeId" text NOT NULL,
    "stepEn" text NOT NULL,
    "stepAr" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecipeStep" OWNER TO orouba_user;

--
-- Name: RecommendedRecipe; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."RecommendedRecipe" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "recipeId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecommendedRecipe" OWNER TO orouba_user;

--
-- Name: SectionText; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."SectionText" (
    id text NOT NULL,
    "titleEn" text,
    "titleAr" text,
    "textEn" text,
    "textAr" text,
    number integer DEFAULT 999 NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SectionText" OWNER TO orouba_user;

--
-- Name: SiteSetting; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."SiteSetting" (
    id text NOT NULL,
    key text NOT NULL,
    "valueEn" text,
    "valueAr" text,
    description text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SiteSetting" OWNER TO orouba_user;

--
-- Name: Social; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Social" (
    id text NOT NULL,
    image text,
    link text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Social" OWNER TO orouba_user;

--
-- Name: SocialParent; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."SocialParent" (
    id text NOT NULL,
    image text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SocialParent" OWNER TO orouba_user;

--
-- Name: Standard; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Standard" (
    id text NOT NULL,
    "descriptionEn" text NOT NULL,
    "descriptionAr" text NOT NULL,
    image text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Standard" OWNER TO orouba_user;

--
-- Name: SystemLog; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."SystemLog" (
    id text NOT NULL,
    "userId" text,
    action text,
    date text,
    ip text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemLog" OWNER TO orouba_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text,
    "emailVerified" timestamp(3) without time zone,
    image text,
    password text,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    permissions text[] DEFAULT ARRAY[]::text[],
    phone text
);


ALTER TABLE public."User" OWNER TO orouba_user;

--
-- Name: Value; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."Value" (
    id text NOT NULL,
    "titleEn" text,
    "titleAr" text,
    "descriptionEn" text,
    "descriptionAr" text,
    image text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Value" OWNER TO orouba_user;

--
-- Name: WhyChooseUs; Type: TABLE; Schema: public; Owner: orouba_user
--

CREATE TABLE public."WhyChooseUs" (
    id text NOT NULL,
    "descriptionEn" text NOT NULL,
    "descriptionAr" text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WhyChooseUs" OWNER TO orouba_user;

--
-- Data for Name: Banner; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Brand; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Building; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: CareerRequest; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."CareerRequest" (id, name, email, phone, "position", "resumeUrl", status, "createdAt", message) FROM stdin;
\.


--
-- Data for Name: CartItem; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."CartItem" (id, "sessionId", "userId", "productId", quantity, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: CategoryProduct; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: CategoryType; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: CategoryTypeCategory; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Certificate; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."Certificate" (id, image, "isHidden", "createdAt", "updatedAt") FROM stdin;
cmp0xcg9p006nvzjo6o4vhfjn	https://camp-coding.site/eloroba/storage/app/images/cert-iso.png	f	2026-05-11 08:12:56.797	2026-05-11 08:12:56.797
cmp0xcg9p006ovzjotbvos72r	https://camp-coding.site/eloroba/storage/app/images/cert-halal.png	f	2026-05-11 08:12:56.797	2026-05-11 08:12:56.797
cmp0xcg9p006pvzjog2vs02gs	https://camp-coding.site/eloroba/storage/app/images/cert-haccp.png	f	2026-05-11 08:12:56.797	2026-05-11 08:12:56.797
\.


--
-- Data for Name: CollaborateRequest; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."CollaborateRequest" (id, "firstName", "lastName", name, email, phone, status, "createdAt", message) FROM stdin;
\.


--
-- Data for Name: ContactRequest; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."ContactRequest" (id, name, email, phone, message, status, "createdAt") FROM stdin;
\.


--
-- Data for Name: Continent; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."Continent" (id, "nameEn", "nameAr", "isHidden", "createdAt", "updatedAt") FROM stdin;
cmp0xcgcl0072vzjon17zgpuc	Africa	╪ú┘ü╪▒┘è┘é┘è╪º	f	2026-05-11 08:12:56.902	2026-05-11 08:12:56.902
cmp0xcgd10073vzjowhxwg947	Asia	╪ó╪│┘è╪º	f	2026-05-11 08:12:56.917	2026-05-11 08:12:56.917
cmp0xcge20074vzjo80t4i2x8	Europe	╪ú┘ê╪▒┘ê╪¿╪º	f	2026-05-11 08:12:56.955	2026-05-11 08:12:56.955
\.


--
-- Data for Name: Country; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Feature; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Food; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."Food" (id, "nameEn", "nameAr", image, number, "isHidden", "createdAt", "updatedAt") FROM stdin;
cmp0xcg7j006gvzjoypom5seg	Chicken Nuggets	┘å╪º╪¼╪¬╪│ ╪»╪¼╪º╪¼	https://camp-coding.site/eloroba/storage/app/images/nuggets-1.png	1	f	2026-05-11 08:12:56.719	2026-05-11 08:12:56.719
cmp0xcg7z006hvzjoenmlrfe2	Flour	╪»┘é┘è┘é	\N	2	f	2026-05-11 08:12:56.735	2026-05-11 08:12:56.735
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."Order" (id, "userId", status, "totalAmount", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."OrderItem" (id, "orderId", "productId", quantity, price) FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: ProductImage; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: ProductSocial; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."ProductSocial" (id, image, "productId", "isHidden", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ProductType; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."ProductType" (id, "nameEn", "nameAr", "isHidden", "createdAt", "updatedAt") FROM stdin;
cmp0xcehw0001vzjopt5fwkar	Frozen	┘à╪¼┘à╪»	f	2026-05-11 08:12:54.501	2026-05-11 08:12:54.501
cmp0xceid0002vzjovbpb3331	Fresh	╪╖╪º╪▓╪¼	f	2026-05-11 08:12:54.518	2026-05-11 08:12:54.518
\.


--
-- Data for Name: ProductionStep; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Recipe; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."Recipe" (id, "nameEn", "nameAr", "descriptionEn", "descriptionAr", "videoLink", "internalImage", number, "isHidden", "createdAt", "updatedAt") FROM stdin;
cmp0xcg6b0066vzjockdcpra6	Crispy Chicken Nuggets Recipe	┘ê╪╡┘ü╪⌐ ┘å╪º╪¼╪¬╪│ ╪º┘ä╪»╪¼╪º╪¼ ╪º┘ä┘à┘é╪▒┘à╪┤	Learn how to make the crispiest chicken nuggets at home.	╪¬╪╣┘ä┘à ┘â┘è┘ü ╪¬╪╡┘å╪╣ ╪ú┘â╪½╪▒ ┘å╪º╪¼╪¬╪│ ╪º┘ä╪»╪¼╪º╪¼ ┘é╪▒┘à╪┤╪⌐ ┘ü┘è ╪º┘ä┘à┘å╪▓┘ä.	https://www.youtube.com/watch?v=example	https://camp-coding.site/eloroba/storage/app/images/recipe-nuggets.png	1	f	2026-05-11 08:12:56.675	2026-05-11 08:12:56.675
\.


--
-- Data for Name: RecipeCategory; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."RecipeCategory" (id, "nameEn", "nameAr", image, number, "isHidden", "createdAt", "updatedAt") FROM stdin;
cmp0xcg5g0064vzjo2jza53je	Main Dishes	╪ú╪╖╪¿╪º┘é ╪▒╪ª┘è╪│┘è╪⌐	\N	1	f	2026-05-11 08:12:56.644	2026-05-11 08:12:56.644
cmp0xcg5w0065vzjohsnhz9ic	Appetizers	┘à┘é╪¿┘ä╪º╪¬	\N	2	f	2026-05-11 08:12:56.66	2026-05-11 08:12:56.66
\.


--
-- Data for Name: RecipeCategoryFood; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."RecipeCategoryFood" (id, "recipeCategoryId", "foodId") FROM stdin;
cmp0xcg8u006lvzjo50exoe69	cmp0xcg5g0064vzjo2jza53je	cmp0xcg7j006gvzjoypom5seg
\.


--
-- Data for Name: RecipeFood; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."RecipeFood" (id, "recipeId", "foodId", "createdAt", "updatedAt") FROM stdin;
cmp0xcg8e006jvzjoif0gz8wd	cmp0xcg6b0066vzjockdcpra6	cmp0xcg7j006gvzjoypom5seg	2026-05-11 08:12:56.75	2026-05-11 08:12:56.75
\.


--
-- Data for Name: RecipeImage; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."RecipeImage" (id, "recipeId", url, "createdAt", "updatedAt") FROM stdin;
cmp0xcg6b006dvzjoxglenpbx	cmp0xcg6b0066vzjockdcpra6	https://camp-coding.site/eloroba/storage/app/images/recipe-nuggets-1.png	2026-05-11 08:12:56.675	2026-05-11 08:12:56.675
\.


--
-- Data for Name: RecipeProperty; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."RecipeProperty" (id, "recipeId", icon, "titleEn", "titleAr", "textEn", "textAr", "createdAt", "updatedAt") FROM stdin;
cmp0xcg6b0067vzjoz13ipslc	cmp0xcg6b0066vzjockdcpra6	ΓÅ▒	Prep Time	┘ê┘é╪¬ ╪º┘ä╪¬╪¡╪╢┘è╪▒	15 min	15 ╪»┘é┘è┘é╪⌐	2026-05-11 08:12:56.675	2026-05-11 08:12:56.675
cmp0xcg6b0068vzjotawy0lqf	cmp0xcg6b0066vzjockdcpra6	≡ƒöÑ	Cook Time	┘ê┘é╪¬ ╪º┘ä╪╖┘ç┘è	20 min	20 ╪»┘é┘è┘é╪⌐	2026-05-11 08:12:56.675	2026-05-11 08:12:56.675
cmp0xcg6b0069vzjofiieavik	cmp0xcg6b0066vzjockdcpra6	≡ƒì╜	Servings	╪º┘ä╪¡╪╡╪╡	4 servings	4 ╪¡╪╡╪╡	2026-05-11 08:12:56.675	2026-05-11 08:12:56.675
\.


--
-- Data for Name: RecipeStep; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: RecommendedRecipe; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."RecommendedRecipe" (id, "productId", "recipeId", "createdAt", "updatedAt") FROM stdin;
cmp0xcg73006fvzjohzbilfjf	27	cmp0xcg6b0066vzjockdcpra6	2026-05-11 08:12:56.703	2026-05-11 08:12:56.703
\.


--
-- Data for Name: SectionText; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."SectionText" (id, "titleEn", "titleAr", "textEn", "textAr", number, "isHidden", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SiteSetting; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: Social; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: SocialParent; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."SocialParent" (id, image, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Standard; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: SystemLog; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."SystemLog" (id, "userId", action, date, ip, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: orouba_user
--

COPY public."User" (id, name, email, "emailVerified", image, password, role, "createdAt", "updatedAt", permissions, phone) FROM stdin;
cmp13rr8l0000vzis67r3yjda	Super Admin	admin@valueims.com	\N	\N	$2b$10$izIICJAGPtBWx5k6dIS5KuFGn631PLUcYnvLWYT0fG9MVX3jPBv.a	ADMIN	2026-05-11 11:12:48.549	2026-05-11 11:12:48.549	{*}	\N
\.


--
-- Data for Name: Value; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Data for Name: WhyChooseUs; Type: TABLE DATA; Schema: public; Owner: orouba_user
--



--
-- Name: Banner Banner_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Banner"
    ADD CONSTRAINT "Banner_pkey" PRIMARY KEY (id);


--
-- Name: Brand Brand_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Brand"
    ADD CONSTRAINT "Brand_pkey" PRIMARY KEY (id);


--
-- Name: Building Building_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Building"
    ADD CONSTRAINT "Building_pkey" PRIMARY KEY (id);


--
-- Name: CareerRequest CareerRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CareerRequest"
    ADD CONSTRAINT "CareerRequest_pkey" PRIMARY KEY (id);


--
-- Name: CartItem CartItem_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_pkey" PRIMARY KEY (id);


--
-- Name: CategoryProduct CategoryProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryProduct"
    ADD CONSTRAINT "CategoryProduct_pkey" PRIMARY KEY (id);


--
-- Name: CategoryTypeCategory CategoryTypeCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryTypeCategory"
    ADD CONSTRAINT "CategoryTypeCategory_pkey" PRIMARY KEY (id);


--
-- Name: CategoryType CategoryType_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryType"
    ADD CONSTRAINT "CategoryType_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Certificate Certificate_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Certificate"
    ADD CONSTRAINT "Certificate_pkey" PRIMARY KEY (id);


--
-- Name: CollaborateRequest CollaborateRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CollaborateRequest"
    ADD CONSTRAINT "CollaborateRequest_pkey" PRIMARY KEY (id);


--
-- Name: ContactRequest ContactRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ContactRequest"
    ADD CONSTRAINT "ContactRequest_pkey" PRIMARY KEY (id);


--
-- Name: Continent Continent_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Continent"
    ADD CONSTRAINT "Continent_pkey" PRIMARY KEY (id);


--
-- Name: Country Country_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Country"
    ADD CONSTRAINT "Country_pkey" PRIMARY KEY (id);


--
-- Name: Feature Feature_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Feature"
    ADD CONSTRAINT "Feature_pkey" PRIMARY KEY (id);


--
-- Name: Food Food_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Food"
    ADD CONSTRAINT "Food_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: ProductImage ProductImage_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_pkey" PRIMARY KEY (id);


--
-- Name: ProductSocial ProductSocial_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ProductSocial"
    ADD CONSTRAINT "ProductSocial_pkey" PRIMARY KEY (id);


--
-- Name: ProductType ProductType_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ProductType"
    ADD CONSTRAINT "ProductType_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: ProductionStep ProductionStep_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ProductionStep"
    ADD CONSTRAINT "ProductionStep_pkey" PRIMARY KEY (id);


--
-- Name: RecipeCategoryFood RecipeCategoryFood_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeCategoryFood"
    ADD CONSTRAINT "RecipeCategoryFood_pkey" PRIMARY KEY (id);


--
-- Name: RecipeCategory RecipeCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeCategory"
    ADD CONSTRAINT "RecipeCategory_pkey" PRIMARY KEY (id);


--
-- Name: RecipeFood RecipeFood_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeFood"
    ADD CONSTRAINT "RecipeFood_pkey" PRIMARY KEY (id);


--
-- Name: RecipeImage RecipeImage_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeImage"
    ADD CONSTRAINT "RecipeImage_pkey" PRIMARY KEY (id);


--
-- Name: RecipeProperty RecipeProperty_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeProperty"
    ADD CONSTRAINT "RecipeProperty_pkey" PRIMARY KEY (id);


--
-- Name: RecipeStep RecipeStep_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeStep"
    ADD CONSTRAINT "RecipeStep_pkey" PRIMARY KEY (id);


--
-- Name: Recipe Recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT "Recipe_pkey" PRIMARY KEY (id);


--
-- Name: RecommendedRecipe RecommendedRecipe_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecommendedRecipe"
    ADD CONSTRAINT "RecommendedRecipe_pkey" PRIMARY KEY (id);


--
-- Name: SectionText SectionText_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."SectionText"
    ADD CONSTRAINT "SectionText_pkey" PRIMARY KEY (id);


--
-- Name: SiteSetting SiteSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."SiteSetting"
    ADD CONSTRAINT "SiteSetting_pkey" PRIMARY KEY (id);


--
-- Name: SocialParent SocialParent_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."SocialParent"
    ADD CONSTRAINT "SocialParent_pkey" PRIMARY KEY (id);


--
-- Name: Social Social_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Social"
    ADD CONSTRAINT "Social_pkey" PRIMARY KEY (id);


--
-- Name: Standard Standard_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Standard"
    ADD CONSTRAINT "Standard_pkey" PRIMARY KEY (id);


--
-- Name: SystemLog SystemLog_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."SystemLog"
    ADD CONSTRAINT "SystemLog_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Value Value_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Value"
    ADD CONSTRAINT "Value_pkey" PRIMARY KEY (id);


--
-- Name: WhyChooseUs WhyChooseUs_pkey; Type: CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."WhyChooseUs"
    ADD CONSTRAINT "WhyChooseUs_pkey" PRIMARY KEY (id);


--
-- Name: Banner_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Banner_isHidden_idx" ON public."Banner" USING btree ("isHidden");


--
-- Name: Brand_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Brand_isHidden_idx" ON public."Brand" USING btree ("isHidden");


--
-- Name: CartItem_sessionId_productId_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "CartItem_sessionId_productId_key" ON public."CartItem" USING btree ("sessionId", "productId");


--
-- Name: CategoryProduct_categoryId_productId_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "CategoryProduct_categoryId_productId_key" ON public."CategoryProduct" USING btree ("categoryId", "productId");


--
-- Name: CategoryTypeCategory_categoryId_categoryTypeId_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "CategoryTypeCategory_categoryId_categoryTypeId_key" ON public."CategoryTypeCategory" USING btree ("categoryId", "categoryTypeId");


--
-- Name: CategoryType_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "CategoryType_isHidden_idx" ON public."CategoryType" USING btree ("isHidden");


--
-- Name: Category_brandId_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Category_brandId_idx" ON public."Category" USING btree ("brandId");


--
-- Name: Category_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Category_isHidden_idx" ON public."Category" USING btree ("isHidden");


--
-- Name: Food_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Food_isHidden_idx" ON public."Food" USING btree ("isHidden");


--
-- Name: ProductType_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "ProductType_isHidden_idx" ON public."ProductType" USING btree ("isHidden");


--
-- Name: Product_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Product_isHidden_idx" ON public."Product" USING btree ("isHidden");


--
-- Name: Product_typeId_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Product_typeId_idx" ON public."Product" USING btree ("typeId");


--
-- Name: RecipeCategoryFood_recipeCategoryId_foodId_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "RecipeCategoryFood_recipeCategoryId_foodId_key" ON public."RecipeCategoryFood" USING btree ("recipeCategoryId", "foodId");


--
-- Name: RecipeFood_recipeId_foodId_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "RecipeFood_recipeId_foodId_key" ON public."RecipeFood" USING btree ("recipeId", "foodId");


--
-- Name: Recipe_isHidden_idx; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE INDEX "Recipe_isHidden_idx" ON public."Recipe" USING btree ("isHidden");


--
-- Name: RecommendedRecipe_productId_recipeId_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "RecommendedRecipe_productId_recipeId_key" ON public."RecommendedRecipe" USING btree ("productId", "recipeId");


--
-- Name: SiteSetting_key_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "SiteSetting_key_key" ON public."SiteSetting" USING btree (key);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: orouba_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: CartItem CartItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItem CartItem_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CategoryProduct CategoryProduct_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryProduct"
    ADD CONSTRAINT "CategoryProduct_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CategoryProduct CategoryProduct_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryProduct"
    ADD CONSTRAINT "CategoryProduct_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CategoryTypeCategory CategoryTypeCategory_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryTypeCategory"
    ADD CONSTRAINT "CategoryTypeCategory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CategoryTypeCategory CategoryTypeCategory_categoryTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."CategoryTypeCategory"
    ADD CONSTRAINT "CategoryTypeCategory_categoryTypeId_fkey" FOREIGN KEY ("categoryTypeId") REFERENCES public."CategoryType"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Category Category_brandId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES public."Brand"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Country Country_continentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Country"
    ADD CONSTRAINT "Country_continentId_fkey" FOREIGN KEY ("continentId") REFERENCES public."Continent"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ProductImage ProductImage_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductSocial ProductSocial_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."ProductSocial"
    ADD CONSTRAINT "ProductSocial_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Product Product_typeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_typeId_fkey" FOREIGN KEY ("typeId") REFERENCES public."ProductType"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RecipeCategoryFood RecipeCategoryFood_foodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeCategoryFood"
    ADD CONSTRAINT "RecipeCategoryFood_foodId_fkey" FOREIGN KEY ("foodId") REFERENCES public."Food"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecipeCategoryFood RecipeCategoryFood_recipeCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeCategoryFood"
    ADD CONSTRAINT "RecipeCategoryFood_recipeCategoryId_fkey" FOREIGN KEY ("recipeCategoryId") REFERENCES public."RecipeCategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecipeFood RecipeFood_foodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeFood"
    ADD CONSTRAINT "RecipeFood_foodId_fkey" FOREIGN KEY ("foodId") REFERENCES public."Food"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecipeFood RecipeFood_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeFood"
    ADD CONSTRAINT "RecipeFood_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public."Recipe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecipeImage RecipeImage_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeImage"
    ADD CONSTRAINT "RecipeImage_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public."Recipe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecipeProperty RecipeProperty_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeProperty"
    ADD CONSTRAINT "RecipeProperty_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public."Recipe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecipeStep RecipeStep_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecipeStep"
    ADD CONSTRAINT "RecipeStep_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public."Recipe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecommendedRecipe RecommendedRecipe_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecommendedRecipe"
    ADD CONSTRAINT "RecommendedRecipe_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecommendedRecipe RecommendedRecipe_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: orouba_user
--

ALTER TABLE ONLY public."RecommendedRecipe"
    ADD CONSTRAINT "RecommendedRecipe_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public."Recipe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict v0L1jrbwRj7iaSLlgbaoBVJE2IujcDolXwa96e3cOcbQGAQDc0Lw3X8yRpbI3ho

